<footer>
    <div class="content-padding">
        <div class="footer-content">
            <p>Copyright &copy; Bossgamr</p>
        <div class="social-media-icons">
            <a href="#"><i class="fa fa-calendar-o"></i></a>
            <a href="#"><i class="fa fa-bar-chart"></i></a>
        </div>
        </div>
    </div>
</footer>